ARUCO_OUT = "PATH_TO_YOUR_ARUCO_MARKERS_FOLDER_TO_SAVE"
ARUCO_MARKER_SIZE_CM = 3.0
ROBOFLOW_API_KEY= "YOUR_ROBOFLOW_APIKEY"
MODEL_ID = "rootseg-mmejg/9"
MODEL_PATH = "PATH_TO_YOUR_LOCAL_MODEL_FOLDER"
CARPETA = "PATH_TO_YOUR_RAW_IMAGES"
FECHA_SIEMBRA=YYYY-MM-DD
ANCHO_RIZOTRON_CM = 40 
ALTO_RIZOTRON_CM = 60
N_ZONAS= 6
MARGEN= 1
PATCH_SIZE=512
OVERLAP=16
MIN_VARIANZA=0

